* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.uni-btn {
    height: 64px;
    background: #FF5959;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}

/* head */

header {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    padding: 350px;

}

.head-title {
    color: aliceblue;
    font-weight: 700px;
    font-size: 65px;
}

.head-para {
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400px;
    font-size: 18px;

}

/* donate */

.donate-today {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.donate-para {
    margin-bottom: 60px;
    margin-top: 30px;
}

.tkbtn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-left: -1%;
}

.tkbtn-2 {
    background-color: #FAFAFA;
    color: #707070;;
    border: 2px solid transparent;
    /* padding: 35px 32px; */
    transition-duration: 0.4s;
    width: 135px;
    height: 123px;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    border-radius: 7px;
}

.tkbtn-2:hover {
    /* background-color: #4CAF50;  */
    /* color: white; */
}

.tkbtn-2:focus {
    color: #FF5959;
    border: 2px solid;
    border-radius: 10px;
    background-color: #ff59591c;
}

.tkbtn li {
    list-style: none;
    margin-left: -20px;
}

.tkbtn ul {
    
}
.donate-text {
    margin-top: 30px;
}
.donate-btn {
    margin-top: 30px;
}
.donate-text {
    border: none;
    border-bottom: 1px solid #a34747;
    width: 750px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    color: #ff5959a4;
}

.donate-text:focus {
    outline: none;
    color: #FF5959;
}
/* donate Today */
.Our-donate{
    
    margin-bottom: 100px;
}
.our-donate-tx{
    margin-bottom: 100px;
    text-align: center;
}
.our-donate-tx-para{
    margin-top: 40px;
}
.box-con{
    display: flex;
    justify-content: space-between;
    padding: 0px 400px;
    gap: 30px;
}
.box{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 50px 25px;
    /* justify-content: space-between; */
}
.box-icon{
margin-bottom: 15px;
}
.box-title{
    margin-bottom: 15px;
}