* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.uni-btn {
    height: 64px;
    background: #FF5959;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}

/* head */

header {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    padding: 350px;

}

.head-title {
    color: aliceblue;
    font-weight: 700px;
    font-size: 65px;
}

.head-para {
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400px;
    font-size: 18px;

}

/* donate */

.donate-today {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.donate-para {
    margin-bottom: 60px;
    margin-top: 30px;
}

.tkbtn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-left: -1%;
}

.tkbtn-2 {
    background-color: #FAFAFA;
    color: #707070;

    border: 2px solid transparent;
    /* padding: 35px 32px; */
    transition-duration: 0.4s;
    width: 135px;
    height: 123px;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    border-radius: 7px;
}

.tkbtn-2:hover {
    background-color: #ff59591d;
    color: #FF5959;
}

.tkbtn-2:focus {
    color: #FF5959;
    border: 2px solid;
    border-radius: 10px;
    background-color: #ff59591c;
}

.tkbtn li {
    list-style: none;
    margin-left: -20px;
}

/* .tkbtn ul {} */

.donate-text {
    margin-top: 30px;
}

.donate-btn {
    margin-top: 30px;
}

.donate-text {
    border: none;
    border-bottom: 1px solid #a34747;
    width: 750px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    color: #ff5959a4;
}

.donate-text:focus {
    outline: none;
    color: #FF5959;
}

/* donate Today */
.Our-donate {

    margin-bottom: 0px;
}

.our-donate-tx {
    margin-bottom: 100px;
    text-align: center;
}

.our-donate-tx-para {
    margin-top: 40px;
}

.box-con {
    display: flex;
    justify-content: space-between;
    padding: 0px 400px;
    gap: 18px;
}

.box-1 {
    background: rgba(79, 157, 166, 0.1);
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 50px 25px;
    /* justify-content: space-between; */
}

.box-2 {
    background: rgba(255, 89, 89, 0.1);
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 50px 25px;
    /* justify-content: space-between; */
}

.box-3 {
    background: #FFF4D6;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 50px 25px;
    /* justify-content: space-between; */
}

.box-icon {
    margin-bottom: 15px;
}

.box-title {
    margin-bottom: 15px;
}

/* info-img */

.info-1 {
    display: flex;


}

.info {
    padding: 150px 300px;
}

.info-img {
    width: 825px;
    height: 550px;
}

.info-des1 {
    padding: 100px;
}

.info-des1 h1 {
    font-weight: 700;
    font-size: 45px;
}

.info-des1 p {
    margin-bottom: 25px;
    margin-top: 25px;
}

.p-gap {
    margin-top: 10px;
}

.info-gap {
    margin-top: 120px;
}

/* Get my update */

.get-my-upadate {
    text-align: center;
    margin-bottom: 0px;
    padding: 0px 300px;
}

.update {
    margin-bottom: 75px;
}

.update h1 {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 45px;
}

.update p {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
}

.contact {
    /* display: flex; */
    /* margin-top: 130px; */
    background: #FFF8F3;
    border-radius: 10px;
    padding: 100px;
    margin-bottom: 100px;
}

.contact ul {
    display: flex;
    justify-content: center;
}

.contact li {
    list-style: none;
}

.email {
    background-color: #FAFAFA;
    color: #D9D9D9;

    border: 2px solid transparent;
    /* padding: 35px 32px; */
    transition-duration: 0.4s;
    width: 275px;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    border-radius: 7px;
}

.email:focus {
    outline: none;

}

.email:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.submit {
    border: none;
    width: 157px;
    height: 48px;
    background: #FF5959;
    border-radius: 0px 5px 5px 0px;
    margin-top: 1%;
    color: white;
}

.submit:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}